body {
  font-family: Arial, Helvetica, sans-serif;
  img {
    border-radius: 10px;
    box-shadow: 2px 2px 5px #ccc;
  }
}
// Main Container css start
#mainContainer {
  .searchBtn {
    background-color: #00ba94;
    border: 0px solid;
    color: #ffffff;
    border-color: #00ba94;
    border-radius: 5px;
    outline: none;
    padding: 12px 31px;
    transition: all 0.9s ease;
    text-decoration: none;
    &:hover {
      background-color: #00876b;
    }
  }
  .heading2 {
    color: #325cea;
    font-weight: 700;
  }
  .dark-text {
    color: #363d47;
    font-weight: 700;
  }
  .coverContainer {
    position: relative;
    background-image: linear-gradient(
      135deg,
      #0061f2 0%,
      rgba(105, 0, 199, 0.8) 100%
    );
    padding: 95px 0px 144px 0px;
    // Header Container css start
    .headerContainer {
      nav {
        padding: 27px 0px;
        transition: all 1s ease;

        // .navbar-collapse {
        //   @media screen and (max-width: 768px) {
        //     background: rgba(0, 0, 0, 0.8);
        //   }
        // }

        &.bgNavebar {
          .navbar-collapse {
            @media screen and (max-width: 768px) {
              background: transparent;
            }
          }
        }

        .navbar-brand {
          padding-left: 10px;
          text-shadow: 1px 1px 2px #212121;
        }

        ul {
          margin-right: 43px;

          li {
            margin: 0px 11px;
            a {
              // color: rgba(255, 255, 255, 0.5);
              font-weight: 500;
              color: #ffffff;
              &:hover {
                color: rgba(255, 255, 255, 0.5);
              }
            }
          }
        }
      }
      .bgNavebar {
        background-color: rgba(#212832, 0.9);
      }
    }
    // Bannser Container css start
    .newProduct {
      padding: 20px;
      img {
        box-shadow: 2px 2px 5px #252525;
      }
      .row {
        margin-top: 100px;
        color: #ffffff;
        .heading {
          margin-bottom: 0.5rem;
          font-weight: 500;
          line-height: 1.2;
          font-size: 3vw;
          font-family: Arial, Helvetica, sans-serif;
          @media screen and (max-width: 600px) {
            font-size: 7vw;
          }
        }
        p {
          // color: rgba(255, 255, 255, 0.5) !important;
          font-size: 18.5px;
          color: #ffffff;
          font-weight: 400px;
        }
        img {
          width: 100%;
        }
      }
    }

    .svgContainer {
      position: absolute;
      bottom: 0px;
      width: 100%;
    }
  }
  // galleryContainer
  .galleryContainer {
    position: relative;
    .svgContainer {
      position: absolute;
      bottom: 0px;
      width: 100%;
    }
  }

  // ourServicesContainer container css start
  .ourServicesContainer {
    padding-top: 100px;
    background-color: #f2f6fc !important;
    p {
      font-size: 1rem;
      font-weight: 400;
      line-height: 1.5;
      color: #69707a;
    }
    ul {
      li {
        border: 0px solid;
        background-color: #f2f6fc;

        .itemCover {
          display: flex;
          align-items: center;
          color: #69707a;
          .svgIcon {
            margin-right: 7px;
          }
        }
        p {
          margin: 0px;
        }
      }
    }
  }
  #ourLinksContainer {
    position: relative;
    background-color: #212832;
    color: #ffffff;
    padding-top: 100px;
    padding-bottom: 220px;

    .ourLinksCover {
      .servicesLinks {
        ul {
          display: flex;
          flex-wrap: wrap;
          list-style: none;
          padding: 0px;
          li {
            margin-top: 10px;

            a {
              text-decoration: none;
              padding: 5px 13px;
              font-size: 15px;
              border-radius: 5px;
              color: #ffffff;
              transition: all 1s ease;
              margin-right: 10px;

              &:hover {
                background-color: #51bb95;
                color: #ffffff;
              }
            }
          }
        }
      }
    }
    .svgContainer {
      position: absolute;
      bottom: 0px;
      width: 100%;
    }
  }
  .footerContainer {
    background-color: #f2f6fc;
    padding: 100px 0px;
    color: #a7aeb8;
    h1 {
      text-transform: uppercase;
      font-size: 1.5vw;
      @media screen and (max-width: 558px) {
        font-size: 4vw;
      }
    }
  }
  .copyRightContainer {
    padding: 20px;
    text-align: center;
    color: #ffffff;
    background-color: #00ba94;
    font-weight: 700;
    h5 {
      cursor: pointer;
      font-size: 14px;
      font-weight: normal;
      margin: 0px;
    }
  }
}

// gateRapreSection
.gateRapreSection {
  position: relative;
  p {
    font-size: 17.5px;
    font-weight: 400px;
    color: #69707a;
  }
}
// newJersey
#newJersey {
  ul {
    list-style: none;
    color: #69707a;
    li {
      .listItemCover {
        height: 44px;
        @media screen and (max-width: 600px) {
          height: 60px;
        }
        display: flex;
        flex-direction: row;
        align-items: center;
        .svgCon {
          margin-right: 10px;
        }
        .listtext {
          p {
            margin: 0px;
          }
        }
      }
    }
  }
}
