body {
  font-family: Arial, Helvetica, sans-serif;
}

#mainContainer .searchBtn {
  background-color: #00ba94;
  border: 0px solid;
  color: #ffffff;
  border-color: #00ba94;
  border-radius: 5px;
  outline: none;
  padding: 12px 31px;
  transition: all 0.9s ease;
}
#mainContainer .searchBtn:hover {
  background-color: #00876b;
}
#mainContainer .heading2 {
  color: #325cea;
  font-weight: 700;
}
#mainContainer .dark-text {
  color: #363d47;
  font-weight: 700;
}
#mainContainer .coverContainer {
  position: relative;
  background-image: linear-gradient(135deg, #0061f2 0%, rgba(105, 0, 199, 0.8) 100%);
  padding: 95px 0px 144px 0px;
}
#mainContainer .coverContainer .headerContainer nav {
  padding: 27px 0px;
}
#mainContainer .coverContainer .headerContainer nav ul {
  margin-right: 43px;
}
#mainContainer .coverContainer .headerContainer nav ul li {
  margin: 0px 11px;
}
#mainContainer .coverContainer .headerContainer nav ul li a {
  color: rgba(255, 255, 255, 0.5);
  font-weight: 500;
}
#mainContainer .coverContainer .headerContainer nav ul li a:hover {
  color: #ffffff;
}
#mainContainer .coverContainer .newProduct {
  padding: 20px;
}
#mainContainer .coverContainer .newProduct .row {
  margin-top: 100px;
  color: #ffffff;
}
#mainContainer .coverContainer .newProduct .row .heading {
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
  font-size: 2.5rem;
  font-family: Arial, Helvetica, sans-serif;
}
#mainContainer .coverContainer .newProduct .row p {
  color: rgba(255, 255, 255, 0.5) !important;
  font-size: 18.5px;
  font-weight: 400px;
}
#mainContainer .coverContainer .newProduct .row img {
  width: 100%;
  height: 100%;
}
#mainContainer .coverContainer .svgContainer {
  position: absolute;
  bottom: 0px;
  width: 100%;
}
#mainContainer .galleryContainer {
  position: relative;
}
#mainContainer .galleryContainer .svgContainer {
  position: absolute;
  bottom: 0px;
  width: 100%;
}
#mainContainer .ourServicesContainer {
  background-color: #f2f6fc !important;
}
#mainContainer .ourServicesContainer p {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #69707a;
}
#mainContainer .ourServicesContainer ul li {
  border: 0px solid;
  background-color: #f2f6fc;
}
#mainContainer .ourServicesContainer ul li p {
  margin: 0px;
}
#mainContainer #ourLinksContainer {
  position: relative;
  background-color: #212832;
  color: #ffffff;
  padding-top: 20px;
  padding-bottom: 120px;
}
#mainContainer #ourLinksContainer .ourLinksCover .servicesLinks ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0px;
}
#mainContainer #ourLinksContainer .ourLinksCover .servicesLinks ul li {
  margin-top: 10px;
}
#mainContainer #ourLinksContainer .ourLinksCover .servicesLinks ul li a {
  text-decoration: none;
  padding: 5px 13px;
  font-size: 15px;
  font-family: revert;
  border-radius: 5px;
  color: #ffffff;
  transition: all 1s ease;
  margin-right: 10px;
}
#mainContainer #ourLinksContainer .ourLinksCover .servicesLinks ul li a:hover {
  background-color: #51bb95;
  color: #ffffff;
}
#mainContainer #ourLinksContainer .svgContainer {
  position: absolute;
  bottom: 0px;
  width: 100%;
}
#mainContainer .footerContainer {
  background-color: #f2f6fc;
  padding: 100px;
  color: #a7aeb8;
}
#mainContainer .copyRightContainer {
  padding: 20px;
  text-align: center;
  color: #ffffff;
  background-color: #00ba94;
  font-weight: 700;
}
#mainContainer .copyRightContainer h5 {
  cursor: pointer;
  font-size: 17px;
  font-weight: bold;
}

.gateRapreSection {
  position: relative;
}
.gateRapreSection p {
  font-size: 17.5px;
  font-weight: 400px;
  font-family: auto;
  color: #69707a;
}